.movies-card-list {
  max-width: 1280px;
  margin: 0 auto;
}

.movies-card-list__wrapper {
  padding: 0 70px;
}

@media screen and (min-width: 768px) and (max-width: 1279px){
  .movies-card-list__wrapper {
    padding: 0 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .movies-card-list__wrapper {
    padding: 0 20px;
  }
}

@media screen and (max-width: 480px) {
  .movies-card-list__wrapper {
    padding: 0 10px;
  }
} 

.movies-card-list__container {
  display: grid;
  row-gap: 36px; 
  column-gap: 24px; 
  grid-template-columns: repeat(auto-fill, 364px);
  justify-content: center;
  padding-top: 78px;
}




@media screen and (min-width: 480px) and (max-width: 768px) {
  .movies-card-list__container {
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, 339px);
  }
}


@media screen and (max-width: 480px) {
  .movies-card-list__container {
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 14px;
  }
}

