.profile {
  background-color: #202020;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  max-width: 410px;
  margin: auto;
}

@media screen and (max-width: 480px) {
  .profile {
    width: 260px;
    align-items: stretch;
  }
}

.profile__wrapper {
  width: 100%;
  margin: auto;
}

@media screen and (max-width: 800px) {
  .profile__wrapper {
    height: 472px;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .profile__wrapper {
    height: calc(100vh - 147px);
    margin: 40px 0 0 0;
  }
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #fff;
  padding: 71px 0 107px;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .profile__title {
    padding: 0px 0 80px;
  }
}

@media screen and (max-width: 480px) {
  .profile__title {
    padding: 30px 0 66px;
  }
}

.profile__form {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 480px) {
  .profile__form {
    display: flex;
    flex-direction: column;
    height: 100%;
}
}

.profile__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/* .profile__input-wrapper {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.profile__label {
  display: block;
  font-weight: 500;
  font-size: 11px;
  color: #fff;
}

/* .profile__input {
  width: 80%;
  padding: 10px 0;
  border: none;
  background-color: #202020;
  color: #ddd;
  text-align: end;
  font-weight: 400;
  font-size: 11px;
  color: #fff;
} */

.profile__input {
  width: 80%;
  padding: 15px 0;
  border: none;
  background-color: #202020;
  color: #ddd;
  text-align: end;
  font-weight: 400;
  font-size: 11px;
  color: #fff;
}

.profile__input-wrapper {
  /* margin-bottom: 12px; */
  /* margin-top: 2px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile__input:focus {
  outline: none;
}

.profile__divider {
  border-top: #424242 1px solid;
}

.profile__bottom-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .profile__bottom-wrapper {
    /* padding-top: 198px; */
  }
}

@media screen and (max-width: 480px) {
  .profile__bottom-wrapper {
    padding-top: 0;
    justify-content: flex-start;
    height: 100%;
  }

  .profile__bottom-wrapper > :first-child {
    flex-grow: 1;
  }
}

.profile__button {
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: #fff;
  background: #202020;
  border: none;
  margin: 7px 0 7px;
}

@media screen and (max-width: 480px) {
  .profile__button {
    font-size: 12px;
  }
}

.profile__button_logout {
  color: #ee3465;
}

.error__profile {
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  color: #ff004c;
}
