.promo {
  max-width: 1280px;
  margin: 0 auto;
}

.promo__wrapper {
  background: #073042;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 524px;
  background-image: url(../../images/promo.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .promo__wrapper {
    padding: 18px 30px 51px;
    height: 712px;
    background-size: 248px 248px;
  }
}

@media screen and (max-width: 480px) {
  .promo__wrapper {
    padding: 18px 14px;
    height: 530px;

  }
}

.promo__title {
  color: #fff;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  margin: 0;
  /* height: 116px; */
  width: 730px;
}

@media screen and (max-width: 480px) {
  .promo__title {
    font-size: 31px;
    line-height: 39px; /* 125.806% */
    letter-spacing: -1.24px;
  }
}
