.search-form {
  max-width: 1280px;
  margin: 0 auto;
}

.search-form__wrapper {
  padding: 0 70px;
}

/* @media screen and (min-width: 768px) and (max-width: 1279px){
  .search-form__wrapper {
    padding: 0 30px;
  }
} */

@media screen and (min-width: 480px) and (max-width: 850px) {
  .search-form__wrapper {
    padding: 0 30px;
  }
}

@media screen and (max-width: 480px) {
  .search-form__wrapper {
    padding: 0 14px;
  }
} 

.search-form__form {
  position: relative;
  padding-top: 60px;
}

@media screen and (max-width: 850px) {
  .search-form__form {
    padding-top: 77px;
  }
}

.search-form__input {
  width: calc(100% - 20px);
  padding: 0;
  border: none;
  height: 46px;
  border-radius: 50px;
  background: #2f2f2f;
  font-weight: 400;
  font-size: 13px;
  line-height: 131%;
  color: #8b8b8b;
  padding-left: 20px;
}

.search-form__submit-button {
  position: absolute;
  right: 6px;
  transform: translateY(20%);
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: none;
  background: url("../../images/button-array.svg") no-repeat center center;
  background-size: 21%;
  cursor: pointer;
  background-color: #4285f4;
}

.search-form__short-films {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 69px;
  border-bottom: 1px solid #424242;
}

@media screen and (min-width: 480px) and (max-width: 850px) {
  .search-form__short-films {
    padding-bottom: 52px;
  }
}

.search-form__toggle-button {
  background-color: rgba(0, 0, 0, 0);
  height: 20px;
  height: 20px;
  padding: 0;
  border: none;
  margin-right: 10px;
}

.search-form__short-films-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #fff;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .search-form__short-films-text {
    font-size: 11px;
    line-height: 164%;
  }
} 
