.header {
  max-width: 1280px;
  background: #073042;
  margin: 0 auto;
  display: flex;
}

.header__wrapper {
  width: 100%;
  display: flex;
  padding: 18px 70px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header__wrapper {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 480px) {
  .header__wrapper {
    padding: 18px 14px;
  }
}

.header__navigation-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.header__auth-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.header__navigation {
  display: flex;
  margin-left: 46px;
}

.header__navigation-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__navigation-item {
  color: #fff;
  text-align: right;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  margin-right: 16px;
}

.header__registration {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: #fff;
  text-decoration: none;
  margin-right: 30px;
}

@media screen and (max-width: 480px) {
  .header__registration {
    font-weight: 400;
    font-size: 10px;
    line-height: 160%;
  }
}
