.header {
  max-width: 1280px;
  /* background: #073042; */
  margin: 0 auto;
  display: flex;
}

.header_color_black {
  background: #202020;
}

.header_color_green {
  background: #073042;
}

.header__wrapper {
  width: 100%;
  display: flex;
  padding: 18px 70px;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .header__wrapper {
    padding: 15px 30px;
  }
}

@media screen and (max-width: 480px) {
  .header__wrapper {
    padding: 15px 14px;
  }
}

.header__navigation-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.header__auth-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.header__navigation {
  display: flex;
  margin-left: 46px;
  width: 100%;
}

.header__navigation-list_unauthorized {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

.header__navigation-list_unauthorized li:last-child .header__navigation-item {
  margin-right: 0;
}

.header__navigation-item {
  color: #fff;
  text-align: right;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  margin-right: 16px;
}

.header__registration {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: #fff;
  text-decoration: none;
  margin-right: 30px;
}

@media screen and (max-width: 480px) {
  .header__registration {
    font-weight: 400;
    font-size: 10px;
    line-height: 160%;
    margin-right: 14px;
  }
}

/* .button {
  transition: opacity 0.3s ease;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  opacity: 0.7;
} */

/* .button  {
  font-size: 0 !important; 
  padding-block: 0;
  padding-inline: 0;
} */

.header-button__login {
  width: 76px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 3px;
  background: #3ddc84;
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .header-button__login {
    width: 54px;
    height: 26px;
  }
}

.header-button__account {
  display: inline-flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 12px;
  position: relative;
  text-decoration: none;
}

.header-button__account::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../../images/profile-icon.svg");
  background-size: cover;
  margin-left: 8px;
}

.header-button__account_color_black {
  border: none;
}

.header-button__account_color_black::after {
  background-image: url("../../images/profile-icon_black.svg");
}

.burger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 0;
  position: relative;
}

.burger__icon {
  width: 44px;
  height: 44px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url("../../images/burger_open.svg");
}

@media screen and (max-width: 480px) {
  .burger__icon {
    width: 40px;
    height: 43px;
  }
}

/* .burger__icon_type_open {
  width: 44px;
  height: 44px;
  background-image: url('../../images/burger_open.svg');
} */

.burger__icon_type_close {
  width: 32px;
  height: 32px;
  background-image: url("../../images/burger_close.svg");
  position: absolute;
  top: 22;
  right: -498px;
  top: 9px;
}

.header__menu {
  position: fixed;
  top: 0;
  right: 0;
  /* background-color: #073042; */
  height: 100vh;
  z-index: 2;
  width: 520px;
}

@media screen and (max-width: 520px) {
  .header__menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /* background-color: #073042; */
    height: 100vh;
    z-index: 2;
    /* width: 520px; */
    width: 100%;
  }
  .burger {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 0;
    position: relative;
    display: flex;
    /* width: 100%; */
    /* align-items: flex-end; */
    justify-content: flex-end;
    width: 100%;
  }

  .burger__icon_type_close {



    width: 32px;
    height: 32px;
    /* position: absolute; */
    top: 22;
    right: auto;
    left: auto;
    top: 9px;
    margin: 13px 13px 0 0;
  }

  .header__navigation-list_type_left {
    margin: 0;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* width: 100%; */
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 101px 0 82px 0;
    height: 100%;
  }

  .header__navigation-item-li {
    padding-bottom: 27px;
  }
}

.header__menu::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 520px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.header__navigation-list_type_left {
  margin: 0;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* width: 100%; */
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 143px 0 82px 0;
  height: 100%;
}

.header__navigation_type_left {
  display: flex;
  flex-direction: column;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header__navigation-item_type_left {
  color: #fff;
  text-align: right;
  font-family: Inter;
  /* font-size: 13px; */
  font-style: normal;
  line-height: 18px;
  text-decoration: none;

  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #fff;
  /* padding: 160px 0 90px 0; */
}

.header__navigation-item-li {
  padding-bottom: 31px;
}

.header__navigation-item-li:last-child {
  padding: 0;
  margin-top: auto;
}

.header__navigation-item-li:last-child .header__navigation-item_type_left {
  font-size: 13px;
}

.header__navigation-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.header__navigation-list li:last-child {
  margin-left: auto; /* Прижимаем к правому краю */
}

.header__navigation-list li:last-child .header__navigation-item {
  margin-right: 0;
}

a.active {
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  a.active {
    border-bottom: 2px solid #fff;
    padding-bottom: 3px;
  }
}
