.about {
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .about {
    background: #202020;
  }
}

.about__wrapper {
  padding: 0 70px;
}

@media screen and (max-width: 768px) {
  .about__wrapper {
    padding: 18px 50px;
  }
}

@media screen and (max-width: 768px) {
  .about__wrapper {
    padding: 0 18px;
  }
}

.about__details {
  display: flex;
  padding-top: 70px;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .about__details {
    flex-direction: column;
    padding-top: 0px;
  }
}

.about__subtitle {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .about__subtitle {
    color: #fff;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.72px;
    padding-top: 61px;
  }
}

.about__text {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  margin: 0;
  padding-top: 26px;
  max-width: 550px;
}

@media screen and (max-width: 768px) {
  .about__text {
    padding-top: 20px;
    color: #fff;
    font-family: Inter;
    font-size: 12px;
    line-height: 18px; /* 150% */
    padding-top: 15px;
  }
  .about__item:last-child {
    padding-left: 20px;
  }
}

@media screen and (max-width: 480px) {
  .about__text {
    color: #fff;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 145.455% */
  }
}

@media screen and (max-width: 480px) {
  .about__item {
    padding: 0;
  }

  .about__item:last-child {
    padding: 0;
  }
}

.about__graph {
  display: flex;
  padding: 110px 0 96px;
}

@media screen and (max-width: 768px) {
  .about__graph {
    padding: 92px 0 90px;
  }
}

@media screen and (max-width: 480px) {
  .about__graph {
    padding: 60px 0 69px;
  }
}

.about__graph-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__graph-item_left {
  width: 20%;
}

@media screen and (max-width: 480px) {
  .about__graph-item_left {
    width: 35%;
  }
}

.about__graph-item_right {
  width: 80%;
}

@media screen and (max-width: 480px) {
  .about__graph-item_right {
    width: 65%;
  }
}

.about__graph-line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 36px;
  margin: 0;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 480px) {
  .about__graph-line {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.about__graph-line_left {
  color: #000;
  background: #3ddc84;
}

.about__graph-line_right {
  color: #fff;
  background: #303030;
}

.about__graph-label {
  color: #8b8b8b;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  padding-top: 14px;
}

@media screen and (max-width: 480px) {
  .about__graph-label {
    color: #a0a0a0;
    text-align: center;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 8px;
  }
}
