.techs {
  max-width: 1280px;
  margin: 0 auto;
  background: #272727;
}

@media screen and (max-width: 480px) {
  .techs {
    background: #202020;
  }
}

.techs__wrapper {
  padding: 0 70px 100px;
}

@media screen and (max-width: 768px) {
  .techs__wrapper {
    padding: 0 50px 92px;
  }
}

@media screen and (min-width: 481px) and (max-width: 658px) {
  .techs__wrapper {
    padding: 0 18px 92px;
  }
}

@media screen and (max-width: 480px) {
  .techs__wrapper {
    padding: 0 18px;
  }
}

.techs__details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techs__subtitle {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 116% */
  letter-spacing: -2px;
  margin: 0;
  padding-top: 90px;
  width: 600px;
}

@media screen and (max-width: 768px) {
  .techs__subtitle {
    padding-top: 80px;
  }
}

@media screen and (min-width: 481px) and (max-width: 658px) {
  .techs__subtitle {
    width: auto;
  }
}

@media screen and (max-width: 480px) {
  .techs__subtitle {
    font-size: 30px;
    letter-spacing: -1.2px;
    padding-top: 53px;
    width: auto;
  }
}

.techs__text {
  width: 460px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.56px;
  margin: 0;
  padding-top: 26px;
}

@media screen and (max-width: 768px) {
  .techs__text {
    color: #fff;
    font-size: 12px;
    line-height: 18px; /* 150% */
    letter-spacing: -0.48px;
    padding-top: 23px;
  }
}

@media screen and (max-width: 480px) {
  .techs__text {
    font-size: 11px;
    line-height: 16px; /* 145.455% */
    letter-spacing: -0.44px;
    width: 100%;
    padding-top: 13px;
  }
}
.techs__list {
  display: flex;
  justify-content: center;
  padding: 0;
  padding-top: 100px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .techs__list {
    padding-top: 82px;
  }
}

@media screen and (min-width: 481px) and (max-width: 658px) {
  .techs__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  .techs__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 50px 20px 50px;
    margin: 0;
  }
}
.techs__item {
  width: 90px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #303030;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5px;
}

@media screen and (max-width: 768px) {
  .techs__item {
    width: 84px;
    height: 57px;
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
  }
}

@media screen and (max-width: 480px) {
  .techs__item {
    margin: 0;
  }
}
