.section__header {
  display: flex;
  flex-direction: column;
}

.section__title {
  color: #fff;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  border-bottom: 1px solid #fff;
  padding: 110px 0 23px;
  margin: 0;
}

/* .section__title_border-color_black {
  border-bottom: 1px solid black;
} */

@media screen and (max-width: 768px) {
  .section__title {
    padding: 72px 0 23px;
  }
}

@media screen and (max-width: 480px) {
  .section__title {
    font-size: 18px;
    letter-spacing: -0.72px;
  }
}
