.about-me {
  max-width: 1280px;
  margin: 0 auto;
}

.about-me__wrapper {
  padding: 0 70px 26px;
}

@media screen and (max-width: 768px) {
  .about-me__wrapper {
    padding: 17px 50px 0;
  }
}

@media screen and (min-width: 481px) and (max-width: 658px) {
  .about-me__wrapper {
    padding: 17px 18px 0;
  }
}

@media screen and (max-width: 480px) {
  .about-me__wrapper {
    padding: 20px 14px 0;
  }
}

.about-me__section-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 68px;
}

@media screen and (max-width: 480px) {
  .about-me__section-wrapper {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 64px;
  }
}

.about-me__info-section {
  width: 600px;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .about-me__info-section {
    width: 100%;
    padding: 0;
  }
}

.about-me__name {
  color: #fff;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 116% */
  letter-spacing: -2px;
}

@media screen and (max-width: 768px) {
  .about-me__name {
    font-size: 40px;
    line-height: 40px; /* 100% */
    letter-spacing: -1.6px;
  }
}

@media screen and (max-width: 480px) {
  .about-me__name {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.2px;
    padding-top: 39px;
  }
}

.about-me__info {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 111.111% */
  padding-top: 20px;
}

@media screen and (max-width: 768px) {
  .about-me__info {
    font-size: 12px;
    line-height: 18px; /* 150% */
    padding-top: 14px;
  }
}

@media screen and (max-width: 480px) {
  .about-me__info {
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 145.455% */
    padding-top: 20px;
  }
}

.about-me__bio {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  padding-top: 23px;
}

@media screen and (max-width: 768px) {
  .about-me__bio {
    font-size: 12px;
    line-height: 18px; /* 150% */
    padding-top: 19px;
  }
}

@media screen and (max-width: 480px) {
  .about-me__bio {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 145.455% */
  }
}

.about-me__github-link {
  display: inline-block;
  width: fit-content;
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media screen and (max-width: 480px) {
  .about-me__github-link {
    padding-top: 42px;
  }
}

.about-me__photo {
  width: 270px;
  height: 327px;
  flex-shrink: 0;
  border-radius: 10px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .about-me__photo {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 480px) {
  .about-me__photo {
    width: 292px;
    height: 352px;
    flex-shrink: 0;
  }
}

@media screen and (max-width: 320px) {
  .about-me__photo {
    width: 100%;
    height: auto;
  }
}

.about-me__portfolio {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

.about-me__portfolio-title {
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
  margin: 0;
  padding-top: 100px;
  color: #8b8b8b;
  padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .about-me__portfolio-title {
    padding-top: 89px;
  }
}

@media screen and (max-width: 480px) {
  .about-me__portfolio-title {
    color: #a0a0a0;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    padding-top: 69px;
    padding-bottom: 20px;
  }
}

.about-me__portfolio-item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px white solid;
}

@media screen and (max-width: 768px) {
  .about-me__portfolio-item {
    padding-bottom: 19px;
  }
}

.about-me__portfolio-item:last-child {
  border-bottom: none;
}

.about-me__portfolio-link {
  color: #fff;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: -1.2px;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .about-me__portfolio-link {
    font-size: 28px;
    font-style: normal;
    letter-spacing: -1.12px;
  }
}

@media screen and (max-width: 480px) {
  .about-me__portfolio-link {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.72px;
  }
}
