.promo__wrapper {
  background: #073042;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 524px;
  background-image: url(../../images/promo.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.promo__header {
  color: #fff;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  margin: 0;
  height: 116px;
  width: 730px;
}

.navtab {
  max-width: 1280px;
  margin: 0 auto;
}

.navtab__navigation {
  height: 66px;
  background: #272727;
  display: flex;
}

.navtab__navigation-list {
  margin: 0 auto;
  list-style-type: none;
  display: flex;
  padding: 0;
  align-items: center;

  
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 123.077% */
  text-decoration-line: underline;
}

.navtab__navigation-item {
  padding: 0 20px;
  color: #fff;
}

